{% extends 'GithubApp/base.html' %}
{% block body %}

{% if message %}
<div class="alert alert-info" role="alert">{{message}}</div>
{% endif %}

{% if commit %}
<h1 style="float:left;" class="pull-left">Commits from <a href="http://www.github.com/{{repos.full_name}}" target="_blank">{{repos.full_name}}</a>: </h1>  <a href="http://github.com/{{repos.owner.login}}/{{repos.name}}/archive/{{repos.default_branch}}.zip" style="float:right;" class="btn btn-info" role="button" target="_blank">Download Repository ({{repos.default_branch}})</a>

<table class="table table-hover table-responsive">

<tr><th>Committed by</th><th>Message</th><th>Date</th><th>Download</th><th>Details</th></tr>

{% for c in commit %} 
<tr><td> {{c.commit.committer.name}} </td> <td> {{ c.commit.message }} </td> <td> {{ c.commit.committer.date }}<td><a href="http://github.com/{{repos.owner.login}}/{{repos.name}}/archive/{{c.sha}}.zip">Download</a></td></td><td><a href="{% url 'Github-App:details' repos.owner.login repos.name c.sha %}" target="_blank">Details</a></td> </tr>
{% endfor%}

</table>


{% else %}
<strong>Repository not found.</strong>
<p>Click <a href="{% url 'Github-App:add' %}">here</a> to look for another repository.</p>
{% endif %}

{% endblock %}